.homeProducts{
    padding: 25px 0px;
    
}

.filterTab {
  margin-left: auto;          
}

.filterTab li{
    margin-left: 20px;
}

.filterTab li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-weight: 600;
}

.filterTab li:hover a{
    color: #3bb77e !important;
    transform: translateY(-10px);    
}

/* .homeProducts .productRow{
    display: flex;
    padding: 30px 0px;
    margin: 0px -15px;
    flex-wrap: wrap;
} */

/* .homeProducts .productRow .item{
    width: 20%;
    padding: 15px 15px;
} */

.homeProductsRow2 .prodSlider .item{
    padding: 15px 5px; 
    padding-right: 25px !important;
}

.topProductsSection{
    padding: 35px 0px;
}

.newsLetterSection{
    width: 100%;
    height: auto;
}

.newsLetterSection .box{
    background: url('../../assets/images/bg.png');
    width: 100%;
    height: auto;
    padding: 60px 80px;
    border-radius: 30px;
    overflow: hidden;
}

.newsLetterSection .box .info{
    width: 55%;
}

.newsLetterSection .box .info h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    opacity: 0.8;
}

.newsLetterSection .box p{
    font-size: 20px;
    opacity: 0.8;
}

.newsLetterSection .box .img{
    width: 45%;
    position: relative;
}

.newsLetterSection .box .img img{
    position: relative;
    top: 60px;
}

.newsLetterSection .box .newsLetterBanner{
    position: relative !important;
    left: 0 !important;
    bottom: inherit !important;
}

.popularCats {
  width: 100%;
  padding: 20px 0;
}

.popularList li {
  margin-left: 20px;
}

.popularList li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  transition: 0.2s;
}

.popularList li a:hover {
  color: #3bb77e;
}

.homeProducts .productRow {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px 0;
}

.homeProducts .productRow .item {
    width: 100%;   /* 👈 FIX */
    padding: 0;    /* optional */
}

.productCard .imgWrapper {
  width: 100%;
  height: 200px;   
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8; 
}